@import "../colors";

.nav {
  margin-bottom: 5rem;
}

.nav-brand {
  color: $light;
  text-decoration: none;
}

.nav-button {
  margin-left: 2rem !important;
}

.nav-right {
  margin-left: auto;
}

.nav-profile {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}